.header-container {
    background: #1f2937;
    color: white;
}

.right-side {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    padding: 25px;
}

.two,
.three {
    margin-left: 10px;
}

.left-side {
    border: 3px solid red;
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.big-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0%;
    padding: 0%;
}

.subtext {
    font-size: 18px;
    color:#f9faf8;
}