.header-container {
    background: #1f2937;
    color: white;
}

.right-side {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 25px;
    padding-right: 250px;
}

.two,
.three {
    margin-left: 10px;
}

.left-side {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    padding-left: 240px;
}

.mid-header {
    padding-left: 250px;
    height: 500px;
}

.big-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
    word-wrap: wrap;
    width: 400px;
}

.subtext {
    font-size: 18px;
    color:#f9faf8;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    word-wrap: normal;
    width: 400px;
    margin-bottom: 10px;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: large;
    width: 122px;
    height: 42px;
    border-radius: 15px;
}

.big-picture {
    display: flex;
    justify-content: flex-end;
    padding-right: 250px;
    margin: 0;

}